.container-concours {
  position: relative;
}

.container-concours img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
}

.container-concours .space {
  margin-top: 350px;
}

/*Actualité*/
.container-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.container-title h2 {
  font-size: 40px;
}

.container-title .bar {
  height: 100px;
  background: #0D64C1;
  width: 5px;
}

.container-actu {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  gap: 20px;
}

.puce {
  width: 30px;
}

.container-flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
  margin-left: -10px;
}

.container-actu .txt {
  font-size: 30px;
  color: #444;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 38px;
}

.container-actu .txt span {
  font-size: 30px;
  color: #002E86;
}

.container-actu .right img {
  width: 600px;
}

.relative {
  position: relative;
}

.etudiant {
  width: 800px;
  position: absolute;
  top: -250px;
}

.space {
  margin-top: 550px;
}

/*Actualité*/


/*Partenariat*/
.container-part {
  margin-top: 550px;
}

.container-part .texte-section {
  text-align: start
}

.part-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.part-img img {
  width: 600px;
}

/*Partenariat*/