* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background: linear-gradient(to right, #93C7FF, #FFFFFF);
}

a {
  text-decoration: none;
}

/* En-tête (Header) */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 6rem;
  transition: background 0.5s ease-in-out;
  z-index: 100;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
}

header.scrolled {
  background: #FFFFFF;
}

header.scrolled .btn-primary {
  box-shadow: 0px 0px 10px #0056b3 !important;
  background: #0056b3 !important;
  color: #fff !important;
}

header.scrolled .btn-primary:hover {
  box-shadow: 0px 0px 20px #0056b3 !important;
}

header.default {
  background: transparent;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 100px;
  height: 50px;
}

.logo-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.logo-desc h1 {
  font-size: 20px;
  font-weight: bold;
}

.logo-desc span {
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  font-weight: normal;
}

.navigation {
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav-item li {
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-item li:hover {
  border-bottom: 2px solid #3895f8;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 0.5rem 6rem;
  background-image: url('/images/Polygon-bg.png');
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 60%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  z-index: 2;
}


.gradient-text {
  background: linear-gradient(to bottom, white, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 48px;
  font-weight: bold;
}

.hero-text h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
}

.hero-text p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: 40%;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  box-shadow: 0px 0px 10px white;
  background: #fff;
  color: #333;
}

.btn-primary:hover {
  box-shadow: 0px 0px 20px white;
}

.btn-secondary {
  color: #fff;
  border: 2px solid white;
}

/* #fin Header and Hero */

/* Parcours */
.parcours-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 4rem;
  background-image: url('/images/Group\ 3.png');
  background-position: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 20rem;
}

.card-section {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 48px;
  color: #0D64C180;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 5%;
  transform: translateY(-100px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
}

.card img {
  width: 5rem;
  height: 5rem;
}

.card h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.card p {
  color: #333;
  font-size: medium;
}

.card a {
  font-weight: 600;
}

/* #fin Parcours */
/* #Concours */
.concours-section {
  padding: 0.5rem 6rem;
}

.concours-section main {
  margin-top: 4rem;
  margin-bottom: 1rem;
  height: 300px;
  background-image: url('/images/concours.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.concours-section img {
  margin-top: 4rem;
  width: 100%;
}

.container-title {
  border-left: 4px solid #007bff;
}

.container-title h2 {
  border-left: 4px solid #007bff;
}
.critere {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.critere p {
  font-family: 'Orbitron', sans-serif;
}
.critere img {
  margin: 0;
  width: 24px;
  height: 24px;
}
/* #fin Concours */

.actu-section {
  padding: 0.5rem 6rem;
}

.img-anniv {
  width: 100%;
  transform: translateY(-250px);
}

.actu-wrapper {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #007bff;
}

.actu-wrapper h1 {
  font-family: 'Orbitron', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  gap: 1rem;
}

.flex p {
  font-family: 'Orbitron', sans-serif;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.desc {
  font-family: 'Orbitron', sans-serif;
}

.desc span {
  font-family: 'Orbitron', sans-serif;
  color: #3895f8;
}

/* #Footer */
footer {
  position: relative;
  height: 900px;
  background-image: url('/images/Group\ 13.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  z-index: 2;
}

@media screen and (max-width:475px) {
  header {
    padding: 0.5rem 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  .logo img {
    width: 70px;
    height: 50px;
  }

  .logo-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
  }

  .nav-item {
    display: none !important;
  }

  .button-wrapper {
    justify-content: space-between;
    width: 100%;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem !important;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
  }

  .image-bg {
    width: 80%;
  }

  .hero-image {
    display: none !important;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 2rem !important;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    gap: 1rem !important;
  }

  .parcours-section {
    gap: 2rem !important;
    padding: 0.5rem 2rem !important;
  }

  .concours-section {
    padding: 0.5rem 2rem;
  }

  .actu-section {
    padding: 0.5rem 2rem;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }

  .img-anniv {
    width: 100%;
    transform: translateY(0);
  }

  .title {
    font-size: 32px;
  }

  .concours-section main {
    margin-top: 2rem;
    background-image: url('/images/univ.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


/* Scrollbar pour Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: var(--text-color);
  background: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-thumb {
  background: #007bff
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3
}

.strong {
  font-weight: 700;
}

/* Écran de chargement */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  /* Couleur de fond semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Assure que l'écran de chargement est au-dessus du contenu */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #007bff;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loading-text {
  display: flex;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-screen p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #007bff;
}

/* .texte-section {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #0D64C180;
  margin-bottom: 30px;
} */




/***************/

/* Section "À propos du Concours" */
.about {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.video-presentation {
  max-width: 720px;
  margin: 0 auto;
}

/* Section Critères d'Éligibilité */
.eligibility {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.eligibility h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.eligibility ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.eligibility ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.eligibility ul li::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
  color: #007bff;
  font-weight: bold;
}

.btn-more-info {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-more-info:hover {
  background-color: #0056b3;
}

/* Section Témoignages */
.testimonials {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial blockquote {
  font-size: 1.1rem;
  color: #666;
  margin: 0;
}

/* Section "Processus d'Inscription" */
.process {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.process h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.infographic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.step {
  width: 150px;
  margin: 20px;
  text-align: center;
}

.step span {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.step p {
  font-size: 1.2rem;
}

/* Section FAQ */
.faq {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.faq h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

details {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

summary {
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

summary:hover {
  color: #007bff;
}

/* Pied de Page (Footer) */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer p,
.footer ul {
  font-size: 1rem;
  margin: 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #007bff;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}

.social-media i {
  color: #007bff;
  /* Couleur */
  font-size: 24px;
  /* Taille */
  margin: 0 10px;
  /* Espacement */

}