* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background: linear-gradient(to right, #93C7FF, #FFFFFF);
}

a {
  text-decoration: none;
}

/* En-tête (Header) */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 6rem;
  transition: background 0.5s ease-in-out;
  z-index: 100;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
}

header.scrolled {
  background: #FFFFFF;
}

header.scrolled .btn-primary {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.09) !important;
  background: #0056b3 !important;
  color: #fff !important;
}

header.scrolled .btn-primary:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04) !important;
}

header.default {
  background: transparent;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 100px;
  height: 50px;
}

.logo-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.logo-desc h1 {
  font-size: 20px;
  font-weight: bold;
}

.logo-desc span {
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  font-weight: normal;
}

.navigation {
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav-item li {
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-item li:hover {
  border-bottom: 2px solid #3895f8;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 0.5rem 6rem;
  background-image: url('/images/Polygon-bg.png');
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 60%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  z-index: 2;
}


.gradient-text {
  background: linear-gradient(to bottom, white, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 48px;
  font-weight: bold;
}

.hero-text h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
}

.hero-text p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: 40%;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  box-shadow: 0px 0px 10px white;
  background: #fff;
  color: #333;
}

.btn-primary:hover {
  box-shadow: 0px 0px 20px white;
}

.btn-secondary {
  color: #fff;
  border: 2px solid white;
}

/* #fin Header and Hero */

/* Parcours */
.parcours-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 4rem;
  background-image: url('/images/Group\ 3.png');
  background-position: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 20rem;
}

.card-section {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 48px;
  color: #0D64C180;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 5%;
  transform: translateY(-100px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
}

.card img {
  width: 10rem;
  height: 8rem;
}

.card h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.card p {
  color: #333;
  font-size: medium;
}

.card a {
  font-weight: 600;
}

/* #fin Parcours */
/* #Concours */
.concours-section {
  padding: 0.5rem 6rem;
}

.concours-section main {
  margin-top: 4rem;
  margin-bottom: 1rem;
  height: 300px;
  background-image: url('/images/concours.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.concours-section img {
  margin-top: 4rem;
  width: 100%;
}

.container-title {
  border-left: 4px solid #007bff;
}

.container-title h2 {
  border-left: 4px solid #007bff;
}

.critere {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
}

.critere p {
  font-family: 'Orbitron', sans-serif;
}

.critere img {
  margin: 0;
  width: 24px;
  height: 24px;
}

/* #fin Concours */

.actu-section {
  position: relative;
  padding: 0.5rem 6rem;
}

#img-wrapper {
  position: relative;
  height: 250px;
}

.etudiant {
  width: 60%;
}

.img-anniv {
  width: 600px;
  transform: translateY(-200px);
}

.actu-wrapper {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #007bff;
}

.actu-wrapper h1 {
  font-family: 'Orbitron', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  gap: 1rem;
}

.flex p {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.desc {
  font-family: 'Orbitron', sans-serif;
  padding-left: 6rem;
  padding-right: 6rem;
  font-size: 48px;
  margin-top: 2rem;
}

.desc span {
  font-family: 'Orbitron', sans-serif;
  color: #3895f8;
}

/* # */
.part-section {
  padding: .5rem 6rem;
}

.part-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.part-img-container img {
  width: 100%;
}

.part-img-container .img-1 {
  transform: translateY(40px);
}

.part-img-container .img-2 {
  transform: translateY(-40px);
}

/* #Footer */
footer {
  position: relative;
  color: white;
}

footer h1 {
  font-family: 'Orbitron', sans-serif;
  z-index: 2;
}

.pol {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}

.pol1 {
  position: absolute;
  top: -50px;
  right: 0;
}

.pol2 {
  margin-top: 2rem;
  width: 10rem;
}

.footer-wrapper {
  position: relative;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-image: url('/images/Polygon_18_2_-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-x: 20px;
  z-index: 2;
}

.form-footer input {}

@media screen and (max-width:475px) {
  header {
    padding: 0.5rem 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  .logo img {
    width: 70px;
    height: 50px;
  }

  .logo-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
  }

  .nav-item {
    display: none !important;
  }

  .button-wrapper {
    justify-content: space-between;
    width: 100%;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem !important;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
  }

  .image-bg {
    width: 80%;
  }

  .hero-image {
    display: none !important;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 2rem !important;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    gap: 1rem !important;
  }

  .parcours-section {
    gap: 2rem !important;
    padding: 0.5rem 2rem !important;
  }

  .concours-section {
    padding: 0.5rem 2rem;
  }

  .actu-section {
    padding: 0.5rem 2rem;
  }

  .flex p {
    font-size: larger;
  }

  .flex-between {
    flex-direction: column;
  }

  .flex-between.reverse {
    flex-direction: column-reverse;
  }

  .relative {
    position: "relative";
  }

  #img-wrapper {
    height: 250px;
  }

  .img-anniv {
    width: 100%;
    transform: translateY(-55px);
  }

  .etudiant {
    width: 100%;
  }

  .event {
    /* position: absolute;
    bottom: 0px;
    left: -6rem; */
  }

  .title {
    font-size: 32px;
  }

  .concours-section main {
    margin-top: 2rem;
    background-image: url('/images/Group\ 21\(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 35px;
    background-size: contain;
  }

  .part-section {
    padding: .5rem 2rem;
  }

  .footer-wrapper {
    position: relative;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-image: url('/images/Polygon_18_2_-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desc {
    padding-left: 2rem;
    font-size: 24px;
  }
}


/* Scrollbar pour Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: var(--text-color);
  background: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-thumb {
  background: #007bff
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3
}

.strong {
  font-weight: 700;
}

/* Écran de chargement */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #007bff;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loading-text {
  display: flex;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-screen p {
  font-size: 1.2rem;
  color: #007bff;
}